.btn-group {
    text-transform: uppercase;
}

.btn-default {
    color: #333 !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    font-size: 14px;
}

.btn-default:hover {
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border: 1px solid #adadad !important;
    font-size: 14px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
    margin-top: 0px !important;
}

.btn-cell {
    position: relative;
    display: table;
}

.form-group {
    min-height: 65px;
}

.carrier-tables td:nth-child(1) {
    width: 30%;
}


.carrier-tables select.form-control {
    width: 60%;
}

@media (max-width: 1580px) {
    .carrier-tables select.form-control {
        width: 80%;
    }
}

.carrier-tables input.form-control.input-md {
    width: 40%;
}

@media (max-width: 1300px) {
    .carrier-tables input.form-control.input-md, .carrier-tables select.form-control {
        width: 100%;
    }
}

.buttons-footer {
    margin-bottom: 30px;
}

.carrier-row hr {
    margin-top: 0px;
    margin-bottom: 15px !important;
}