.btn-group {
    text-transform: uppercase;
}

.chosen-choices {
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    height: 33px !important;
    margin-top: 6px !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
    margin: 5px 5px 3px 0 !important;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    margin: 3px 0 !important;
}

.chosen-container-single {
    width: 100% !important;
}

.chosen-container-single .chosen-single {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    height: 33px !important;
    margin-top: 6px !important;   
    padding: 4px 0px 0px 7px !important;
}

.btn-default {
    color: #333 !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    font-size: 14px;
}

.btn-default:hover {
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border: 1px solid #adadad !important;
    font-size: 14px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
    margin-top: 0px !important;
}

.form-group {
    min-height: 65px;
}

.panel-heading {
    margin-left: -22px;
}
