.nav.nav-pills a {
    font-size: 12px;
}

.panel-body {
    padding-top: 50px;
}

.btn-default {
    color: #333 !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    font-size: 14px;
}

.btn-default:hover, .btn-default:focus {
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border: 1px solid #adadad !important;
    font-size: 14px;
}

.dropzone {
    margin-top: 10px;
}

.alert-danger, .alert-success, .alert-info {
    padding: 20px;
}

.success {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.import-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.error-title p {
    margin-bottom: 10px;
}