#map {
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s;
}

/* Filter Search CSS */

.chosen-choices {
  border: 1px solid #ccc !important;
  border-radius: 4px;
  margin-top: 6px !important;
}

.form-group {
    display: inline-block;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.btn-default {
    margin-top: 5px;
}

.multi-select {
  width: 50%;
}
 
@media (max-width: 460px) {
    .multi-select {
      width: 100%;
    }
    .form-group {
        margin-left: 0px;
    }
    .month-dropdown-date-visit {
        margin-right: 25px;
        margin-top: 0px;
        margin-left: 20px;
    }
}
 
.datepicker-days tr {
    height: auto;
}


/*Date of Visit Section*/

.carrier {
    background-color: #fcfcfc;
    cursor: pointer;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

.carrier1 {
    background-color: #f5f5f5;
    cursor: pointer;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}

.carrier:hover, .carrier1:hover, .carrier-active {
    background-color: #cecece;
    cursor: pointer;
    margin-left: -15px;
    margin-right: -15px;
}

.visit-container {
    padding: 0px;
}

.state-title {
    background-color: #efefef;
    border-bottom: 1px solid #ccc;
    font-size: 17px;
    font-weight: bold;
    padding: 25px;
    text-align: center;
}

.location-tables {
    padding: 0px;
}

.pagination-container {
    border-right: 1px solid #ccc;
}

.carrier-tracking .table-striped > tbody > tr:nth-of-type(odd) {
    border-right: none;
}

.carrier-tracking .table-striped > tbody > tr:nth-of-type(even) {
    border-left: none;
}

.carrier-tracking .visit-container .carrier-tables {
    border-right: 1px solid #ccc;
}

.carrier-tracking .visit-container:last-child .carrier-tables {
    border-right: none;
}

.carrier-tracking .visit-container:last-child .pagination-container {
    border-right: none
}

@media screen and (min-width: 300px) and (max-width: 1400px) {
    .carrier-tables tr {
        height: 120px;
        border: none;
    }
    td {
        border: none;
    }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    tr {
        height: 60px;
    }
}

@media (min-width: 768px) {
    .visit-container {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .visit-container {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .visit-container {
        width: 20%;
    }
}


@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}