.chosen-choices{
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    height: 33px !important;
    margin-top: 6px !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
    margin: 5px 5px 3px 0 !important;
}


.chosen-container{
    margin-top: 3px;
}

.panel-body {
    padding: 0px;
}

.btn-default {
    color: #333 !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    font-size: 14px;
}

.btn-default:hover, .btn-default:focus {
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border: 1px solid #adadad !important;
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 6px;
}

.panel-body {
    margin-bottom:  20px;
}

/* Form */

.control-label-normal{
    font-weight: normal;
}

.icon-btn {
    background-color: #296198;
    color: #fff;
    padding: 6px 9px;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 4px;
    margin-right: 4px;
    text-transform: uppercase;
    position: sticky;
    z-index: 100;
}

.icon-btn:hover {
    background-color: #296198;
    color: #fff;
    padding-top: 4px;
    padding-bottom: 6px;
    border-radius: 4px;
    font-size: 12px;
    margin-top: 4px;
    margin-right: 4px;
    text-transform: uppercase;
    position: sticky;
    z-index: 100;
    opacity: .9;
}

i.fa.fa-envelope {
    margin-left: 10px;
}

.custom-group-form .template-save {
    float: left;
    width: 85%;
}

.add-button, .add-button:hover {
    margin-top: 10px;
}

.required {
    color: red;
}

/* Table */

.table-template {
    margin-top: 30px;
}

.plus-sign, .plus-sign:hover{
   cursor: pointer;
   color: #40c13f;
   font-size: 14px;
   margin-right: 5px;
}

.minus-sign, .minus-sign:hover{
   cursor: pointer;
   color: #e34647;
   font-size: 14px;
   margin-right: 5px;
}

.table-striped>tbody>tr.odd {
    background-color: #fff;
}

.table-striped>tbody>tr.even {
    background-color: #efefef;
}

.pagination {
    margin-bottom: 30px !important;
}

/* Help Request Reply Modal */

.modal-content .panel.panel-default {
    border: none;
}

.modal-content .panel-default>.panel-heading {
    color: #fff;
    background-color: #4a96ca;
    border-color: #4a96ca;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
}

.modal-content .panel-body {
    margin-top: -2px;
    border-radius: 0px;
}

.panel-body .panel-box {
    padding: 15px 10px;
    background-color: #f4f4f4;
}

.panel-body .panel-box:nth-child(2n+2) {
    background-color: #fff;
}

.panel-box h5 {
    font-weight: bold;
    margin-bottom: 8px;
}

.modal-content .panel .panel-title {
    padding: 15px;
}