.btn-group {
    text-transform: uppercase;
}

.btn-default {
    color: #333 !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    font-size: 14px;
}

.btn-default:hover {
    color: #333 !important;
    background-color: #e6e6e6 !important;
    border: 1px solid #adadad !important;
    font-size: 14px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
    margin-top: 0px !important;
}

.btn-cell {
    position: relative;
    display: table;
}

.alert-info {
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 13px;
}

.form-group {
    min-height: 65px;
}

td {
    font-size: 13px;
}

.carrier-tables td:nth-child(1) {
    width: 30%;
}


.carrier-tables select.form-control {
    width: 60%;
}

@media (max-width: 1580px) {
    .carrier-tables select.form-control {
        width: 80%;
    }
}

.carrier-tables input.form-control.input-md {
    width: 40%;
}

@media (max-width: 1300px) {
    .carrier-tables input.form-control.input-md, .carrier-tables select.form-control {
        width: 100%;
    }
}

.total-premium-due-container {
    background-color: #4895CF;
    color: #FFFFFF;
    padding: 10px;
    margin-top: -30px;
}

.premium-number {
    text-align: center;
    font-size: 19px;
    font-weight: bold;
}

.buttons-footer {
    margin-bottom: 30px;
}

.carrier-row hr {
    margin-top: 0px;
    margin-bottom: 15px !important;
}

.modal-content .form-group button.btn.btn-primary {
    display: block;
    margin-top: 5px;
}

small {
    font-size: 11px;
    font-style: italic;
    display: block;
    margin-top: 3px;
}